.allparent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.rowchild {
  display: flex;
  flex: auto;
}

.boxchild {
  flex: auto;
}

.hovered {
  background-color: blue;
}
